:root {
    --brick-icon-check: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none'  stroke='currentcolor'  stroke-width='2'  stroke-linecap='round'  stroke-linejoin='round'  %3E  %3Cpath stroke='none' d='m0 0h24v24h0z' fill='none'/%3E  %3Cpath d='m5 12l5 5l10 -10' /%3E %3C/svg%3E");
    --brick-icon-minus: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none'  stroke='currentcolor'  stroke-width='2'  stroke-linecap='round'  stroke-linejoin='round'  %3E  %3Cpath stroke='none' d='m0 0h24v24h0z' fill='none'/%3E  %3Cpath d='m5 12l14 0' /%3E %3C/svg%3E");
    --brick-icon-plus: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none'  stroke='currentcolor'  stroke-width='2'  stroke-linecap='round'  stroke-linejoin='round'  %3E  %3Cpath stroke='none' d='m0 0h24v24h0z' fill='none'/%3E  %3Cpath d='m12 5l0 14' /%3E  %3Cpath d='m5 12l14 0' /%3E %3C/svg%3E");
    --brick-icon-chevron: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none'  stroke='currentcolor'  stroke-width='2'  stroke-linecap='round'  stroke-linejoin='round'  %3E  %3Cpath stroke='none' d='m0 0h24v24h0z' fill='none'/%3E  %3Cpath d='m9 6l6 6l-6 6' /%3E %3C/svg%3E");
    --brick-icon-date: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none'  stroke='currentcolor'  stroke-width='2'  stroke-linecap='round'  stroke-linejoin='round'  %3E  %3Cpath stroke='none' d='m0 0h24v24h0z' fill='none'/%3E  %3Cpath d='m4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z' /%3E  %3Cpath d='m16 3v4' /%3E  %3Cpath d='m8 3v4' /%3E  %3Cpath d='m4 11h16' /%3E  %3Cpath d='m11 15h1' /%3E  %3Cpath d='m12 15v3' /%3E %3C/svg%3E");
    --brick-icon-time: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none'  stroke='currentcolor'  stroke-width='2'  stroke-linecap='round'  stroke-linejoin='round'  %3E  %3Cpath stroke='none' d='m0 0h24v24h0z' fill='none'/%3E  %3Cpath d='m3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0' /%3E  %3Cpath d='m12 7v5l3 3' /%3E %3C/svg%3E");
    --brick-icon-search: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none'  stroke='currentcolor'  stroke-width='2'  stroke-linecap='round'  stroke-linejoin='round'  %3E  %3Cpath stroke='none' d='m0 0h24v24h0z' fill='none'/%3E  %3Cpath d='m10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0' /%3E  %3Cpath d='m21 21l-6 -6' /%3E %3C/svg%3E");
    --brick-icon-close: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none'  stroke='currentcolor'  stroke-width='2'  stroke-linecap='round'  stroke-linejoin='round'  %3E  %3Cpath stroke='none' d='m0 0h24v24h0z' fill='none'/%3E  %3Cpath d='m18 6l-12 12' /%3E  %3Cpath d='m6 6l12 12' /%3E %3C/svg%3E");
    --brick-icon-loading: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none'  stroke='currentcolor'  stroke-width='2'  stroke-linecap='round'  stroke-linejoin='round'  %3E  %3Cpath stroke='none' d='m0 0h24v24h0z' fill='none'/%3E  %3Cpath d='m12 3a9 9 0 1 0 9 9' /%3E %3C/svg%3E");
    --brick-icon-menu: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none'  stroke='currentcolor'  stroke-width='2'  stroke-linecap='round'  stroke-linejoin='round'  %3E  %3Cpath stroke='none' d='m0 0h24v24h0z' fill='none'/%3E  %3Cpath d='m4 6l16 0' /%3E  %3Cpath d='m4 12l16 0' /%3E  %3Cpath d='m4 18l16 0' /%3E %3C/svg%3E");
    --brick-icon-error: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none'  stroke='currentcolor'  stroke-width='2'  stroke-linecap='round'  stroke-linejoin='round'  %3E  %3Cpath stroke='none' d='m0 0h24v24h0z' fill='none'/%3E  %3Cpath d='m12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0' /%3E  %3Cpath d='m12 9v4' /%3E  %3Cpath d='m12 16v.01' /%3E %3C/svg%3E");
}

[data-icon="check"] {
    --_icon: var(--brick-icon-check);
}


[data-icon="minus"] {
    --_icon: var(--brick-icon-minus);
}


[data-icon="plus"] {
    --_icon: var(--brick-icon-plus);
}


[data-icon="chevron"] {
    --_icon: var(--brick-icon-chevron);
}


[data-icon="date"] {
    --_icon: var(--brick-icon-date);
}


[data-icon="time"] {
    --_icon: var(--brick-icon-time);
}


[data-icon="search"] {
    --_icon: var(--brick-icon-search);
}


[data-icon="close"] {
    --_icon: var(--brick-icon-close);
}


[data-icon="loading"] {
    --_icon: var(--brick-icon-loading);
}


[data-icon="menu"] {
    --_icon: var(--brick-icon-menu);
}


[data-icon="error"] {
    --_icon: var(--brick-icon-error);
}
