/*

# Optional properties

Button:
!! Add something for default padding?

Card
!! Add something for default padding, gap?


--brick-accordion-content-color
--brick-accordion-background-color
--brick-accordion-summary-color
--brick-accordion-summary-background
--brick-accordion-divider-color - defaults to --brick-accordion-border-color
--brick-accordion-divider-width - defaults to --brick-accordion-border-width

*/

/* Depends on:
** fundamentals - effects, sizes, colors
** theme - colors
*/

:root, [data-theme], [data-surface] {
    /* Theming examples */
    /*
    --brick-link-transition-properties: border-color, color;
    --brick-link-transition-duration: var(--brick-transition-duration-very-fast);
    --brick-link-transition-mode: var(--brick-transition-pull);
    --brick-button-shadow: var(--brick-shadow-lg);
    --brick-card-box-shadow: var(--brick-shadow-xl);
    --brick-card-background-color: var(--brick-color-surface-1);
    */

    /* Controls */
    --brick-control-border-rounding: var(--brick-border-rounding-less);
    --brick-control-transition-properties: background-color, border-color, color, box-shadow, border-width;
    --brick-control-transition-duration: var(--brick-transition-duration-very-fast);
    --brick-control-transition-mode: var(--brick-transition-pull);
    
    --brick-icon-top-offset: var(--brick-size-rel-xxxs);
    --brick-icon-size: var(--brick-size-rel-md);
    --brick-icon-color: var(--brick-color-content-active);
    --brick-icon-transition-properties: background-color, transform, opacity;
    --brick-icon-transition-duration: var(--brick-transition-duration-mid);
    --brick-icon-transition-mode: var(--brick-transition-switch);

}
