/* Depends on:
** fundamentals - sizes

--brick-grid-mode - defaults to auto-fill
--brick-grid-min-size - defaults to 18 (em)
--brick-grid-min-pct - defaults to 20 (pct)
*/
:root, [data-size] {
    --brick-root-size: 16px;
    --brick-size: var(--brick-size-md);
    --brick-size-rel: var(--brick-size-rel-md);

    --brick-block-spacing: var(--brick-block-spacing-regular);

    --brick-typography-block-spacing: var(--brick-block-spacing-tight);

    --brick-component-spacing-inline: var(--brick-size-rel-lg);
    --brick-component-spacing-block: var(--brick-size-rel-md-lg);

    --brick-control-spacing-inline: var(--brick-size-rel-sm);
    --brick-control-spacing-block: var(--brick-size-rel-xs);

    --brick-grid-min-size: 18;
    --brick-grid-min-pct: 20;
}
