/* Depends on:
** fundamentals - sizes
*/
:root, [data-size] {
    --brick-root-size: 16px;
    --brick-size: var(--brick-size-md);
    --brick-size-rel: var(--brick-size-rel-md);

    --brick-block-spacing: var(--brick-block-spacing-regular);

    --brick-typography-block-spacing: var(--brick-block-spacing-tight);

    --brick-component-spacing-inline: var(--brick-size-rel-lg);
    --brick-component-spacing-block: var(--brick-size-rel-md-lg);

    --brick-control-spacing-inline: var(--brick-size-rel-sm);
    --brick-control-spacing-block: var(--brick-size-rel-xs);
}
