/* Depends on:
** fundamentals - typography, sizes, colors
**
** Colors are defined at the end, in a separate section
*/
:root {
    --brick-font-size: var(--brick-size-rel-md);
    --brick-font-weight: var(--brick-font-weight-regular);
    --brick-line-height: var(--brick-line-height-regular);
    --brick-line-length: var(--brick-line-length-regular);

    /* Font family*/
    --brick-font-family-sans-serif: var(--brick-font-system-ui), var(--brick-font-family-emoji);
    --brick-font-family-serif: var(--brick-font-transitional), var(--brick-font-family-emoji);
    --brick-font-family-monospace: var(--brick-font-monospace-code), var(--brick-font-family-emoji);
    
    --brick-font-main: var(--brick-font-family-sans-serif);
    --brick-font-alt: var(--brick-font-family-serif);
    
}

/* Colors */
:where(:root, [data-theme], [data-surface]) {
    --brick-color-headings-big: var(--brick-color-content-2);
    --brick-color-headings-small: var(--brick-color-content-3);    
}
